// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';
$c-grey: #374140;
$c-orange: #dc7937;
$c-black: #000;
$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'switchers';
@import 'layout';

.monster {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  border: 0.2rem solid blue;

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
  }
}
