.app {
  display: flex;
  height: 100vh;

  &__left {
    display: flex;
    flex-direction: column;
    width: 40%;
    border-right: 0.2rem solid $c-black;

    &-title {
      margin: 0;
      background: $c-black;
      color: $c-orange;
      text-align: center;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
  }
}
